---
import MainContainer from "../components/MainContainer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="melncat">
	<MainContainer>
		<h1>404</h1>
        <p>You're lost.</p>
	</MainContainer>
</Layout>

<style>
	header {
		text-align: center;
	}
</style>
