---
import MainContainer from "../components/MainContainer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="melncat">
	<MainContainer>
		<h1>About</h1>
		<p>I'm melncat, a current prospective cs major.</p>
	</MainContainer>
</Layout>

<style>
	header {
		text-align: center;
	}
</style>
