<nav>
	<div><a class="logo" href="/">melncat</a></div>
    <div class="separator">⁂</div>
	<a href="/posts">Posts</a>
</nav>

<style>
    .separator {

    }
	a {
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	nav {
		display: flex;
		gap: 1em;
		padding: 0.6em 1.2em;
		align-items: flex-end;
		justify-content: center;
		align-items: center;
	}
	.logo {
		font-family: var(--font-fira-code);
		font-size: 1.4em;
		font-weight: bolder;
		color: transparent;
		background-clip: text;
		background-image: radial-gradient(#87db66, #427435);
	}
</style>
