<nav>
	<div><a class="logo" href="/">melncat</a></div>
    <a href="/posts">Posts</a>
</nav>

<style>
	nav {
		display: flex;
		gap: 1em;
        padding: 0.6em 1.2em;
        align-items: flex-end;
        justify-content: center;
	}
	.logo {
		text-decoration: none;
		color: unset;
		font-size: 1.4em;
		font-variation-settings:
			"wght" 1000;
	}
</style>
