---
import MainContainer from "../../components/MainContainer.astro";
import ChocolateSolutionGrid from "../../components/misc/ChocolateSolutionGrid.svelte";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="chocolate thing">
	<MainContainer>
		<h1 id="content">chocolate thing</h1>
        <ChocolateSolutionGrid />
	</MainContainer>
</Layout>
